apiVersion: openinfradev.github.com/v1
kind: HelmValuesTransformer
metadata:
  name: site

global:
  clusterName: cluster.local
  serviceMeshControlNodeSelector:
    servicemesh: enabled
  serviceMeshIngressNodeSelector:
    taco-ingress-gateway: enabled
  serviceMeshEgressNodeSelector:
    taco-egress-gateway: enabled
  ingressGatewayLabel: istio-ingress-gateway
  egressGatewayLabel: istio-egress-gateway

charts:
- name: istio-base
  override: {}

- name: istiod
  override:
    revision: ""
    pilot.traceSampling: 1.0
    pilot.resources.requests.cpu: 500m
    pilot.resources.requests.memory: 2048Mi
    pilot.nodeSelector: $(serviceMeshControlNodeSelector)
    global.tracer.zipkin.address: "jaeger-operator-jaeger-collector.istio-system:9411"

- name: istio-ingress-gateway
  override:
    revision: ""
    replicaCount: 1
    service.type: LoadBalancer
    resources.requests.cpu: 1000m
    resources.requests.memory: 1024Mi
    resources.limits.cpu: 2000m
    resources.limits.memory: 2048Mi
    labels.app: $(ingressGatewayLabel)
    nodeSelector: $(serviceMeshIngressNodeSelector)

- name: jaeger-operator
  override:
    nodeSelector: $(serviceMeshControlNodeSelector)

- name: servicemesh-jaeger-resource
  override:
    namespace: istio-system
    sampling.param: 100
    collector.resources.requests.cpu: 500m
    collector.resources.requests.memory: 1024Mi
    collector.resources.limits.cpu: 1000m
    collector.resources.limits.memory: 2048Mi
    storage.options.es:
      serverUrls: https://eck-elasticsearch-es-http.lma.svc:9200
      username: elastic
      password: tacoword
    elasticsearch:
      host: eck-elasticsearch-es-http.lma.svc.$(clusterName)
      user:
        username: taco-jaeger
        password: tacoword

- name: kiali-operator
  override:
    nodeSelector: $(serviceMeshControlNodeSelector)

- name: servicemesh-kiali-resource
  override:
    namespace: istio-system
    istioNamespace: istio-system
    deployment.resources.requests.cpu: 500m
    deployment.resources.requests.memory: 512Mi
    deployment.resources.limits.cpu: 1000m
    deployment.resources.limits.memory: 1024Mi
    deployment.nodeSelector: $(serviceMeshControlNodeSelector)
    auth.strategy: anonymous
    externalServices.istio.configMapName: istio
    externalServices.istio.istioIdentityDomain: svc.$(clusterName)
    externalServices.prometheus.url: http://lma-prometheus.lma.svc:9090
    externalServices.tracing.inClusterUrl: http://jaeger-operator-jaeger-query.istio-system:16686
    externalServices.tracing.url: https://jaeger-v2.taco-cat.xyz
    externalServices.tracing.useGrpc: false
    externalServices.grafana.auth.type: basic
    externalServices.grafana.auth.username: admin
    externalServices.grafana.auth.password: password
    externalServices.grafana.inClusterUrl: http://grafana.lma.svc:80
    externalServices.grafana.url: https://grafana-v2.taco-cat.xyz

- name: servicemesh-grafana-dashboard
  override:
    namespace: istio-system
    dashboards.label: grafana_dashboard

- name: servicemesh-prometheusmonitor
  override:
    namespace: istio-system
    istio.interval: "15s"
    jaeger.interval: "15s"

- name: servicemesh-prometheusrule
  override:
    namespace: istio-system
    aggregation.interval: "15s"
    optimization.interval: "15s"